.build-canvas{
    margin:20px;
    padding: 20px;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 1px 2px #111;


    nav{
        width:800px;
        height:42px;
        border:1px solid #000;
        margin:0px auto;

        .menumock{
            display: inline-block;
            list-style-type: none;
            text-align: center;
             
            li{
               display: inline-block;
               color:#000;
            }
        }
        
    }
}

.controls{
    margin:20px;

    .nav-tabs{
        li{
            background-color:#fff;
            padding:5px 16px;
            
            border:1px solid #ddd;
            border-bottom:none;
            border-left:none;
            &:first-child{
                border-top-left-radius: 10px;
            }
            &:last-child{
                border-top-right-radius:10px;
            }

        }
    }
    .tab-content{
        padding-top: 10px;
        background-color: #fff;
        color:#111;
    }
}
.codigo{
   
    margin:20px;
    padding-top:50px;
    height:auto;
    border-radius:20px;
    padding: 18px;
    background-color: #111;
    box-shadow: 2px 1px 2px #111;
    white-space: pre-wrap;



    #colors,#fontsize,#fontweight,#border,#bordertop,#borderbottom,#borderleft,#borderright,#textshadow,#margin,#margintop,#marginbottom,#marginleft,#marginright,#padding,#paddingtop,#paddingbottom,#paddingleft,#paddingright{
        display: none;
        
    }
    .fields{
        height:15px;
        line-height: 15px;
    }
    
}
