// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

header {
  background-color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
   z-index: 20;
  .angular-logo{
    display: inline-block;
    position: absolute;
    top: 3px;
    width: 51px;
    img{
      width:50px;
      height:50px;
    }
  }
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

nav{
      margin-left: 43px;
  .menu{
    
    margin-bottom: 0px;
    .menu-item{
       display: inline-block;
       position:relative;
       margin-right:20px;
       .sub-menu{
         width:200px;
          display:none;
          position:absolute;
          left: -10px;
          padding:10px;
          background-color:#fff;
          list-style-type: none;
          box-shadow: 1px 3px 1px 0px #3a4c67;
         
          
         .sub-menu-item{
           color:#111;
         }       
       }

        &:hover{
            .sub-menu{
            display:block;
            }
         }
    }
  }
  

}

